<div class="Store-page-container">
  <div class="Store-page-content-container">
    <div class="container">
      <nav-bar user="user"></nav-bar>
      <div class="row">
        <div class="product-page">
          <div class="col s12 m12 l8 center">
              <img class="responsive-img" ng-src="{{product.imgUrl}}" alt="" />
              <div class="carousel">
                <a class="carousel-item"><img ng-src="{{product.imgUrl2}}"></a>
                <a class="carousel-item"><img ng-src="{{product.imgUrl3}}"></a>
              </div>
          </div>
          <div class="col s12 m12 l4  product-page-text">
              <div style="padding-top: 10px; white-space: pre-line;">  <u>Product</u>:             {{product.title}}</div>
              <div style="padding-top: 10px; white-space: pre-line;">  <u>Description</u>:             {{product.description}}</div>
              <div style="padding-top: 10px; white-space: pre-line;"><u>Color</u>:             {{product.color}}</div>
              <div style="padding-top: 10px; white-space: pre-line;">  <u>Price</u>:             ${{product.price}}</div>
              <div ng-hide="toggle" style="padding-top: 10px;">
                <select ng-model="size" class="browser-default black">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="large">Large</option>
                  <option value="x-large">X-Large</option>
                  <option value="xx-large">XX-Large</option>
                  <option value="xxx-large">XXX-Large</option>
                </select>
              </div>
              <div style="padding-top: 10px;">
                <button ng-click="addToCart(product.title, size)" type="button" class="button black"  name="button" onclick="Materialize.toast('Item added to cart', 3000, 'teal rounded')" >Add to Cart</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(window).ready(function(){
    $('.carousel').carousel();
  });
  $(document).ready(function() {
    $('select').material_select();
  });
  var x;
  $(window).on('scroll', function() {
      var x = $(window).scrollTop();
      function retY() {
        var y = (($(window).scrollTop() / $(window).height()));
        if (y < .85){
          return y
        }
        else {
          return .85
        }
      }
      $('.Store-page-container').css('background-size', 125 + parseInt(x / 3) + 'vh');
      $('.Store-page-content-container').css('background-color', "rgba(0,0,0, " + retY() + ")");
  });

</script>
