<div class="Store-page-container">
  <div class="Store-page-content-container">
    <div class="container">
      <nav-bar></nav-bar>
      <div class="row">
        <div ng-click="goTo(product._id)"  ng-repeat="product in products" class="col s12 m12 l4 center product-repeat">
            <img class="product-img" ng-src="{{product.imgUrl}}" alt="" />
            <ul class="product-text">
            <li>{{product.title}}</li>
            <li>${{product.price}}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var x;
  $(window).on('scroll', function() {
      var x = $(window).scrollTop();
      function retY() {
        var y = (($(window).scrollTop() / $(window).height()));
        if (y < .75){
          return y
        }
        else {
          return .75
        }
      }
      // console.log(100 + parseInt(x / 3))
      $('.Store-page-container').css('background-size', 125 + parseInt(x / 3) + 'vh');
      $('.Store-page-content-container').css('background-color', "rgba(0,0,0, " + retY() + ")");

  });
</script>
