<div style="height: 90vh;" class="Store-page-container">
  <div class="Store-page-content-container">
    <div class="container">
      <nav-bar user="user"></nav-bar>
      <div class=" grey darken-2 cart-title"><h3>Your Cart</h3></div>
          <div>
            <ul class="row">
              <li class="col s12 m1 l1">Image:</li>
              <li class="col s12 m2 l2">Title:</li>
              <li class="col s12 m4 l4">Description:</li>
              <li class="col s12 m1 l1">Price:</li>
              <li class="col s12 m1 l1 center">Size:</li>
              <li class="col s12 m1 l1 center">Total:</li>
              <li class="col s12 m1 l1 center">Quantity:</li>
              <li class="col s12 m1 l1 center">Remove:</li>
            </ul>
            <hr>
            <ul class="row" ng-repeat="product in cart">
              <li class="col s12 m1 l1"><img class="hide-on-small-only responsive-img" style="width: 10vw" ng-src="{{product.product.imgUrl}}"/></li>
              <li class="col s12 m2 l2">{{product.product.title}}</li>
              <li class="col s12 m4 l4">{{product.product.description}}</li>
              <li class="col s12 m1 l1">${{product.product.price}}</li>
              <li class="col s12 m1 l1 center">{{product.product.size}}</li>
              <li class="col s12 m1 l1 center">${{product.total}}</li>
              <div class="col s12 m1 l1 center">
                <div >
                  {{product.quantity}}
                  <div class="row">
                    <i ng-click="increaseQuantity(product.product._id)" class="material-icons pointer">add</i>
                    <i ng-click="decreaseQuantity(product.product._id)" class="material-icons pointer">remove</i>
                  </div>
                </div>
              </div>
              <div class="col s12 m1 l1 center">
                <div class=" pointer" ng-click="removeFromCart(product.product._id)">
                  <i class="material-icons pointer">delete</i>
                </div>
              </div>
            </ul>
        </div>
        <hr>
        <div class="right-align">
          Total: ${{total}}
        </div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger grey darken-2 right" href="#modal1">Submit Order</a>
        <!-- Modal1 -->
        <div  id="modal1" class="modal modal-fixed-footer grey darken-4">
          <div  class="modal-content grey darken-2">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input ng-model="first_name" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input ng-model="last_name" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input ng-model="email" id="email" type="email" class="validate">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input ng-model="street" id="street" type="text" class="validate">
                    <label for="street">Street</label>
                  </div>
                  <div class="input-field col s6">
                    <input ng-model="city" id="city" type="text" class="validate">
                    <label for="city">City</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input ng-model="state" id="state" type="text" class="validate">
                    <label for="state">State</label>
                  </div>
                  <div class="input-field col s6">
                    <input ng-model="zipcode" id="zipcode" type="text" class="validate">
                    <label for="zipcode">Zip Code</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer grey">
            <a ng-click="submitOrder()"
            href="#modal2"
            class=" modal-action modal-close waves-effect waves-green btn-flat grey lighten-2">Agree</a>
          </div>
        </div>
    </div>
  </div>
</div>


<script>
  var x;
  $(window).on('scroll', function() {
      var x = $(window).scrollTop();
      function retY() {
        var y = (($(window).scrollTop() / $(window).height()));
        if (y < .75){
          return y
        }
        else {
          return .75
        }
      }
      $('.Store-page-container').css('background-size', 125 + parseInt(x / 3) + 'vh');
      $('.Store-page-content-container').css('background-color', "rgba(0,0,0, " + retY() + ")");
  });
  $(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
});
</script>
