body{
  background-color: black;
  color: white;
}
.Home-page-container  {
  background: black;
  /*background: radial-gradient(ellipse at center, rgba(0,0,0,0),
    rgba(0, 0, 0, 1) 70%), url("../../public/Assets/photos/DogCoAmps.jpg") no-repeat fixed;*/
  background-attachment:fixed;
  background-position: center center;
  background-size: 125vh;
  color: white;
}
.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.about-page-container {
  background: black;
  /*background: url("../../public/Assets/photos/DogCoLogo3.jpg") no-repeat fixed;*/
  background-attachment:fixed;
  background-position: center center;
  background-size: 70vh;
  color: white;
}
.shows-page-container {
  background: black;
  /*background: radial-gradient(ellipse at center, rgba(0,0,0,0),
    rgba(0, 0, 0, 1) 65%), url("../../public/Assets/photos/DogwMisfits.jpg") no-repeat fixed;*/
  background-attachment:fixed;
  background-position: center center;
  background-size: 125vh;
  object-fit: fill;
  object-position: center;
  color: white;
  justify-content: space-around;
}
.shows-page-content-container {
  background-color: transparent;
  font-family:arial,helvetica,sans-serif;

}
.Past-events-header {
  margin-top: 50px;
}
.centered-object{
  margin-top: 25px;
}
#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 10%;
  right: 1%;
}
.Store-page-container {
  background: black;
  /*background: radial-gradient(ellipse at center, rgba(0,0,0,0),
    rgba(0, 0, 0, 1) 70%), url("../../public/Assets/photos/PastorJoe.jpg") no-repeat fixed;*/
  background-attachment:fixed;
  background-position: center center;
  background-size: 125vh;
  object-fit: fill;
  object-position: center;
}
.Store-page-content-container{
  color: white;
  background-color: rgba(0,0,0,.1)
}
.product-repeat{
  margin-top: 20px;
}
.product-img {
  height: 35vh;
}
.product-text{
  font-size: 1.5em;
}
.product-page{
  height: 80vh;
  font-size: 1.5em;
}
.product-page-img{
  height: 80vh;
}
.product-page-text{

}
.media-page-container {
  background: black;
  /*background: radial-gradient(ellipse at center, rgba(0,0,0,0),
    rgba(0, 0, 0, 1) 70%), url("../../public/Assets/photos/MidwestDogCo.jpg") no-repeat fixed;*/
  background-attachment:fixed;
  background-position: center 20px;
  background-size: 125vh;
  object-fit: fill;
  object-position: center;
  color: white
}
.Album-Art{
  width: 100%;
}
.album-song-title a {
  color: white;
}
.album-song-title{
  font-size: 1.5vh;
}
.material-icons-music{
  font-size: 1.1em;
}

.admin-tmpl {
  background-color: grey;
}
table.highlight > tbody > tr:hover {
  background-color: rgba(0, 150, 136, .8);
}
.timeline ul {
  background: transparent
  padding: 50px 0;
}
.about-body{
  border-radius: 15px;
  color: white;
  font-family: monospace sans-serif;
  padding: 10px;
  background-color:  rgba(0, 150, 136, .8);
  margin-bottom: -15px;
  width: 100%;
}
.container-fluid{
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
.container-fluid2{
  display: flex;
  justify-content: space-around;;
  margin-top: 2vh;
}
.cart-title{
  border-radius: 5px;
  color:white;
  padding: 1vw;
}

.timeline ul li {
  font-size: 1.5em;
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgba(0, 150, 136, .8);
}

.timeline ul li::after {/*timeline dots*/
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div { /* card boxes */
  border-radius: 5px;
  position: relative;
  bottom: 0;
  width: 30vw;
  padding: 15px;
  background: rgba(0, 150, 136, .8);
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 3.55vw;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgba(200,0,0, 1) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -33.3vw;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent rgba(200,0,0, 1);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: rgb(200,0,0);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.nav-bar a:link{
  color: white;
}
.nav-bar a:visited {
  color: white;
}
.nav-bar{
  background: transparent;
  display: flex;
  justify-content: space-around;
  font-family: Fugaz One, cursive, Georgia ;
  font-size: 2em;
  margin: 1vh 0vh 5vh;
}
.nav-bar a{
  color: white;
}
.pointer {
  cursor: pointer;
}
@-ms-viewport{
  width: device-width;
}
