body{
  background-color: black;
}
.Home-page-container  {
  width: 100vw;
  height:100vh;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0),
    rgba(0, 0, 0, 1) 70%), url("../Assets/photos/DogCoAmps.bmp") no-repeat fixed;
  background-attachment:fixed;
  background-position: center center;
  background-size: cover;
  object-fit: fill;
  object-position: center;
  overflow: auto;
  color: white;
}
.about-page-container {
  height:100%;
  background: url("../Assets/photos/DogCoLogo3.bmp") no-repeat fixed;
  background-attachment:fixed;
  background-position: center center;
  background-size: contain;
  overflow: auto;
  color: white;
}

.shows-page-container {
  width: 100vw;
  height:100vh;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0),
    rgba(0, 0, 0, 1) 70%), url("../Assets/photos/DogwMisfits.bmp") no-repeat fixed;
  background-attachment:fixed;
  background-position: center center;
  background-size: cover;
  object-fit: fill;
  object-position: center;
  overflow: auto;
  color: white
}
.Store-page-container {
  width: 100vw;
  height:100vh;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0),
    rgba(0, 0, 0, 1) 70%), url("../Assets/photos/PastorJoe.bmp") no-repeat fixed;
  background-attachment:fixed;
  background-position: center center;
  background-size: cover;
  object-fit: fill;
  object-position: center;
  overflow: auto;
  color: white
}
.media-page-container {
  width: 100vw;
  height:100vh;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0),
    rgba(0, 0, 0, 1) 70%), url("../Assets/photos/MidwestDogCo.bmp") no-repeat fixed;
  background-attachment:fixed;
  background-position: center 20px;
  background-size: cover;
  object-fit: fill;
  object-position: center;
  overflow: auto;
  color: white
}
.admin-tmpl {
  background-color: grey;
}
