<div class="Home-page-container">
  <div class="home-page-content-container">
    <div class="container">
      <nav-bar></nav-bar>
        <div class="valign-wrapper container-center" style="height: 77vh;">
            <img class="responsive-img valign" style="opacity: .8; height: 70vh;" src="./public/Assets/photos/DogCoLogo.svg" alt="" />
        </div>
      <ul class="" ng-repeat="blog in blogs">

        <p>
          <ul class="">
            <div class="valign-wrapper row">
              <li class="col s10 m10 l10 valign" style="font-size: 3em"><u>{{blog.title}}</u></li></u>
              <li style="font-size: 1.5em" class=" col s2 m2 l2 right">{{blog.date | date: medium}}
              </li>
            </div>

            <br>
            <li>
              <div class="center">
              <img class="responsive-img" style="opacity: .8" ng-if="blog.imgUrl" ng-src="{{blog.imgUrl}}" alt="" />
              </div>
            </li>
            <br>
            <li style="white-space: pre-line; font-size: 2em;">
              {{blog.body}}
            </li>
          <hr>
        </p>
      </ul>
    </div>
  </div>
</div>


<script>
  var x;
  $(window).on('scroll', function() {
      var x = $(window).scrollTop();
      function retY() {
        var y = (($(window).scrollTop() / $(window).height()));
        if (y < .85){
          return y
        }
        else {
          return .85
        }
      }
      $('.Home-page-container').css('background-size', 125 + parseInt(x / 5, 0) + 'vh');
      $('.home-page-content-container').css('background-color', "rgba(0,0,0, " + retY() + ")");
  });
</script>
