<div class="Home-page-container">
  <div class="home-page-content-container">
      <ul class="container" ng-repeat="blog in blogs">

        <p>
          <li>{{blog.title}}</li>
          <li>{{blog.date | date: medium}}</li>
          <li style="white-space: pre-line;">
            {{blog.body}}
          </li>
        </p>
      </ul>
  </div>
</div>


<script>
var x;
$(window).on('scroll', function() {
    var x = $(window).scrollTop();

    function retY() {
      var y = (($(window).scrollTop() / $(window).height()));
      if (y < .75){
        return y
      }
      else {
        return .75
      }
    }
    console.log($(window).height() / $("div").scrollTop())
    $('.Home-page-container').css('background-size', 125 + parseInt(x / 5, 0) + 'vh');
    $('.home-page-content-container').css('background-color', "rgba(0,0,0, " + retY() + ")");

});
</script>
