<div class="about-page-container">
    <div class="about-page-content-container">
      <div class="container">
        <nav-bar></nav-bar>
          <div class="container about-body center">
            <h3>Dog Company</h3>
            <p style="font-size:2em;" >
              Dog company was formed in 2006 by former members of Dallas, Tx based band, "The Staggers". Joe Blow, along with long-time bassist, Matt Schrader, formed Dog Company with the hopes of returning to their more traditional punk rock roots.
            </p >

            <p style="font-size:2em;">
              Current members include Front man, Lead Vocals and Rhythm Guitar: Joe Blow, Lead Guitar and Backing Vocals: Garrett Chapman, Bass Guitar and Backing Vocals: Shea Close, and most recent addition, Drums and Backing Vocals: Mick Villareal.
            </p>
            <div class="container-fluid">
              <a href="https://www.facebook.com/dogcompany/"><img ng-src="./Assets/fonts/110971-simpleicon-social-media/svg/facebook-logo.svg" style="height: 3vh;" /></a>
              <a href="http://www.pandora.com/dog-company"><img ng-src="Assets/fonts/110971-simpleicon-social-media/svg/pandora-letter-logo.svg" style="height: 3vh;" alt="" /></a>
              <a href="https://twitter.com/sheaclose"><img ng-src="Assets/fonts/110971-simpleicon-social-media/svg/twitter-logo.svg" alt="" style="height: 3vh;"/></a>
              <a href="https://www.youtube.com/user/DogCompanyDtx"><img ng-src="Assets/fonts/110971-simpleicon-social-media/svg/youtube-logo.svg" alt="" style="height: 3vh;"/></a>
              <a href="mailto:DogCompanydtx@gmail.com"><i class="material-icons" style="font-size: 3vh; color: black">email</i></a>
              <a href="http://www.bandsintown.com/DogCompany"><img style="height: 3vh;" ng-src="./Assets/fonts/110971-simpleicon-social-media/svg/bandsintown-icon-white-on-green.svg" alt="" /></a>
              <a href="https://www.reverbnation.com/dogcompany"><img style="height: 3vh;" ng-src="./Assets/fonts/110971-simpleicon-social-media/svg/ReverbNation.svg" alt="" /></a>

            </div>
          </div>
        <section class="timeline">
          <ul>
            <li>
              <div>
                <time>2004</time> Dog Company is formed by Joe Blow, Matt Schrader, and Kirk Blair, after the break up of The Staggers.
              </div>
            </li>
            <li>
              <div>
                <time>2005</time> Myko Bunton joins on Lead Guitar, solidfying Dog Company as a four piece. Dog Co enters the studio.
              </div>
            </li>
            <li>
              <div>
                <time>2006</time> Dog Company releases a Self Titled Demo EP, Signs with Slab O' Wax records. Kirk is replaced on Drums by Arron.
              </div>
            </li>
            <li>
              <div>
                <time>2007</time> "Songs of Discontent" is released on Slab O' Wax Records.
              </div>
            </li>
            <li>
              <div>
                <time>2008</time> Myko Bunton and Aaron leave the band. Garrett Chapman and Derek Munger take over on Lead Guitar and Drums.
              </div>
            </li>
            <li>
              <div>
                <time>2009</time> Derek and Matt step down, opening the way for Rich Musser and Shea Close to fill their roles on Drums and Bass respectively. Shortly afterwards, Dog Co signs with Contra records.
              </div>
            </li>
            <li>
              <div>
                <time>2010</time> "Bullet for Every Lie", Dog Company's 2nd official record is released on Contra Records. Joe Aqcuires the "Hate Tank". The band says goodbye to the '91 caprice. Dog Company records "Merry Christmas, Better new year" for BlackHole Records "Cashing in on Christmas Vol II" comp.
              </div>
            </li>
            <li>
              <div>
                <time>2011</time> Rich is replaced on Drums by John Patterson. Dog Company is asked to play "2000 tons of TNT" in Hartford, CT, motivating the band to embark on their first east coast tour.... John is replaced on Drums by Ron Riot, rejoining Joe for the first time since their time together in Riot Squad.
              </div>
            </li>
            <li>
              <div>
                <time>2012</time> 7" split with Strongbow is released. Dog Co is asked back to "2000 tons of TNT", sparking a second east coast tour. The band records "Snoopy Christmas" a follow-up to the Staggers "Snoopy vs. the Red Barron" for "Cashing in on Christmas Vol IV".
              </div>
            </li>
            <li>
              <div>
                <time>2013</time> Dog Company continues their Spinal Tap ways, replacing Ron Riot with current Drummer, Mick Villareal, who graciously splits his time between Dog Co and Ten Can Riot. The band is asked to play the inaugural of two, now established Festivals, "FYWROK" and "Midwest Live and Loud". The Boys hit the road for a third year straight and finish the year in the Studio.
              </div>
            </li>
            <li>
              <div>
                <time>2014</time> "War Stories" is co-released with Cadre Records and Rebel Sound, with wide-spread, positive, reviews.
              </div>
            </li>
            <li>
              <div>
                <time>2015</time> The boys get asked back to "Midwest Live and Loud", This time the tour takes them through Canada where they meet Tailgunner, sparking a flourishing Bromance. "On The March w/ Dog Company" is released weekly from the road.
              </div>
            </li>
            <li>
              <div>
                <time>2016</time> Cadre Records in collaboration with Oi! The Boat Records release a 7" split with Dog Company and Hard Evidence. Dog Co is asked back to "FYWROK" and a weekend tour with TailGunner from Montreal is the highlight for all involved... Dog Company is currently preparing to go into the Studio for the next release.
              </div>
            </li>
						<li>
              <div>
                <time>2017</time> Crowd Control Media signs Dog Company. The guys go into the studio in February to record three songs for a four band split.
              </div>
            </li>
          </ul>
        </section>

      </div>
    </div>
</div>

<script>
var x;
$(window).on('scroll', function() {
  var x = $(window).scrollTop();
  function retY() {
    var y = $(window).scrollTop() / $(window).height();
    if (y < 0.85) {
      return y;
    } else {
      return 0.85;
    }
  }
  $('.about-page-container').css(
    'background-size',
    70 + parseInt(x / 3) + 'vh'
  );
  $('.about-page-content-container').css(
    'background-color',
    'rgba(0,0,0, ' + retY() + ')'
  );
});
(function() {
  var items = document.querySelectorAll('.timeline li');
  function isElementInViewport(el) {
    var rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }
  function callbackFunc() {
    for (var i = 0; i < items.length; i++) {
      if (isElementInViewport(items[i])) {
        items[i].classList.add('in-view');
      } else {
        items[i].classList.remove('in-view');
      }
    }
  }
  window.addEventListener('load', callbackFunc);
  window.addEventListener('resize', callbackFunc);
  window.addEventListener('scroll', callbackFunc);
})();
</script>
