<div class="nav-bar">
  <div ui-sref="home" class="card transparent"><a class="pointer">Home</a> </div>
  <div class="card transparent"><a class="pointer">/</a> </div>
  <div  class="card transparent"><a ui-sref="store">Store</a>
    <!-- <span ui-sref="cart" ng-if="user.cart.length >= 1" style="margin-left: 2vw" class="pointer valign-wrapper"><i class="material-icons">shopping_cart</i><span style="font-size:.8em;" class="valign">{{user.cart.length}} </span></span> -->
  </div>

  <div class="card transparent"><a class="pointer">/</a> </div>
  <div ui-sref="shows" class="card transparent"><a class="pointer">Shows</a> </div>
  <div class="card transparent"><a class="pointer">/</a> </div>
  <div ui-sref="about" class="card transparent"><a class="pointer">About</a> </div>
  <div class="card transparent"><a class="pointer">/</a> </div>
  <div ui-sref="media" class="card transparent"><a class="pointer">Media</a></div>
  <div class="fixed-action-btn" style="top: 25px; right: 35px;">
    <a ui-sref="cart" ng-if="user.cart.length >= 1" class="btn-floating btn-large grey darken 2">
      <span style="font-size:.5em; color: black; position: absolute; width: 100%; top:-4px; " class="black-text floating">{{user.cart.length}}</span>
      <i style="font-size: 1.3em; position: relative;; z-index:-100" class="material-icons">shopping_cart</i>


    </a>
  </div>
</div>
<!-- style="font-size:.8em;" -->
