<div class="nav-bar">
  <div style="padding: 2vh 0vw 2vh 4vw" ui-sref="home" class="card transparent"><a href="#">Home</a> </div>
  <div style="padding: 2vh 0vw 2vh 4vw" ui-sref="home" class="card transparent"><a href="#">/</a> </div>
  <div style="padding: 2vh 0vw 2vh 4vw" ui-sref="store" class="card transparent"><a href="#">Store</a> </div>
  <div style="padding: 2vh 0vw 2vh 4vw" ui-sref="store" class="card transparent"><a href="#">/</a> </div>
  <div style="padding: 2vh 0vw 2vh 4vw" ui-sref="shows" class="card transparent"><a href="#">Shows</a> </div>
  <div style="padding: 2vh 0vw 2vh 4vw" ui-sref="shows" class="card transparent"><a href="#">/</a> </div>
  <div style="padding: 2vh 0vw 2vh 4vw" ui-sref="about" class="card transparent"><a href="#">About</a> </div>
  <div style="padding: 2vh 0vw 2vh 4vw" ui-sref="about" class="card transparent"><a href="#">/</a> </div>
  <div style="padding: 2vh 0vw 2vh 4vw" ui-sref="media" class="card transparent"><a href="#">Media</a>
  </div>
</div>
<!-- <a ui-sref="admin">admin</a> -->
