<div class="media-page-container">
    <div class="media-page-content-container">
      <div class="container">
        <!-- Songs -->
        <div class="row valign-wrapper">
          <div class="responsive-img col s12 m5 l5 left valign">
            <img class="Album-Art" src="public/Assets/photos/SongsofDisc.jpg" alt="" />
            <div class="container-fluid2">
              <a href="https://itunes.apple.com/bz/album/songs-of-discontent/id284712750"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/apple-logotype-white.svg" style="height: 5vh; color: white;" /></a>
              <a href="https://amazon.com/gp/product/B001CV359E/ref=dm_ws_sp_ps_dp"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/Amazon.svg" style="height: 5vh; color: white;" /></a>
              <a href="https://www.youtube.com/watch?v=E4dYFYCdThw&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/youtube-play-button-white.svg" style="height: 5vh; color: white;" /></a>
            </div>
          </div>
          <div class="right col s12 m7 l7">
              <p>
                <span style="font-size: 3em; font-family: Lobster,cursive,Georgia;">
                  Songs of Discontent
                </span>
                <br>
                <span>
                  Released 2007 on <a href="http://www.slab-o-wax.com/">Slab O' Wax Records</a>
                </span>
              </p>
              <ol>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=E4dYFYCdThw&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb&index=1">Content American</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=HRb06G_MgqQ&index=2&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb">Lost Weapons</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=WC-tITg_Wr4&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb&index=3">Commercial Blitz</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=pz6WTZMrGc4&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb&index=4">Product and Demand</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=Q5WcO4dzj8Q&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb&index=5">Famine</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=q1VdQ-Ovbbs&index=6&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb">Saturday</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=4_y61z3gQ-Y&index=7&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb">Battle Fatigue</a></li>
                <li class="album-song-title">John Tucker</li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=zAGhs0TYgn4&index=9&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb">Song of Discontent</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=5uOpQjcHp1w&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb&index=10">Reason to Hate</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=DGD6jM6fImY&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb&index=11">Nothing Left</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=r06uMfgVw9c&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb&index=12">Merchants of Cool</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=MZ0Ei4mcyJM&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb&index=13">Close Your Eyes</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=sPPQrLHQQwo&index=8&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb">Beat Down</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=e1tBfzR5Qew&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb&index=15">The Last Christmas</a></li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=axdHO6akkAs&list=PLl3OMrxMF1En9JXiDqjjNdm9CRkaeBJdb&index=14">Targets</a></li>
              </ol>

          </div>
        </div>
        <hr>
        <!-- Bullet for every lie -->
        <div class="row valign-wrapper">
          <div class="responsive-img col s12 m5 l5 left valign">
            <img class="Album-Art" src="public/Assets/photos/Bullet.jpg" alt="" />
            <div class="container-fluid2">
              <a href="https://dogcompany.bandcamp.com/album/a-bullet-for-every-lie"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/band-camp-white.svg" style="height: 5vh; color: white;" /></a>
              <a href="http://www.contra-net.com/shop/product_info.php?info=p3983_Dog-Company---A-bullet-for-every-lie-12-LP-CD.html"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/Contra-white.svg.svg" style="height: 5vh; color: white;" /></a>
              <a href="https://www.youtube.com/watch?v=Z1x-S-0jrbA&list=PLYz0g7A2PTeBH61-N2wPpCepztZvy4_q0"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/youtube-play-button-white.svg" style="height: 5vh; color: white;" /></a>
            </div>
          </div>
          <div class="right col s12 m7 l7">
              <p>
                <span style="font-size: 3em; font-family: Lobster,cursive,Georgia;">
                  A Bullet for Every Lie
                </span>
                <br>
                <span>
                  Released 2010 on <a href="http://www.contra-net.de/record/index.html">Contra Records</a>
                </span>
              </p>
              <ol>
                <li class="album-song-title"><a href="https://youtu.be/JybQ7YH4Fe8">We Are The Invisible</a></li>
                <li class="album-song-title"><a href="https://youtu.be/Z1x-S-0jrbA">A Bullet For Every Lie </a></li>
                <li class="album-song-title"><a href="https://youtu.be/3E2FczOhN7M">Change What Change?</a></li>
                <li class="album-song-title"><a href="https://youtu.be/Iw_uKHwb0Yw">Closer Than You Think</a>	</li>
                <li class="album-song-title"><a href="https://youtu.be/yoQZkzqc_8Q">Che</a></li>
                <li class="album-song-title"><a href="https://youtu.be/-89lgjIDzAM">Magic Pill</a></li>
                <li class="album-song-title"><a href="https://youtu.be/29LElTmnpfM">Germs</a></li>
                <li class="album-song-title"><a href="https://youtu.be/BuykZ_e32-E">Sean Flynn</a></li>
                <li class="album-song-title"><a href="https://youtu.be/c-yOnwyuqqM">Skinhead Girl</a></li>
                <li class="album-song-title"><a href="https://youtu.be/BnAmCztg1rk">I Am A Human Bomb</a></li>
              </ol>
          </div>
        </div>
        <hr>
        <!-- cashing christmas vol 2 -->
        <div class="row valign-wrapper">
          <div class="responsive-img col s12 m5 l5 left valign">
            <img class="Album-Art" src="public/Assets/photos/CashingInOnChristmasVol2.jpg"/>
            <div class="container-fluid2">
              <a href="https://blackholerecs.bandcamp.com/album/cashing-in-on-christmas-volume-2"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/band-camp-white.svg" style="height: 5vh; color: white;" /></a>
              <a href="http://blackholerecords.bigcartel.com/product/cashing-in-on-christmas-volume-2"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/BlackHole-white.svg" style="height: 5vh; color: white;" /></a>
              <a href="https://itunes.apple.com/us/album/cashing-in-on-christmas-volume/id406229780"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/apple-logotype-white.svg" style="height: 5vh; color: white;" /></a>

            </div>

          </div>
          <div class="right col s12 m7 l7">
              <p>
                <span style="font-size: 3em; font-family: Lobster,cursive,Georgia;">
                  Cashing in on Christmas Vol. II
                </span>
                <br>
                <span>
                  Released 2010 on <a href="https://blackholerecs.bandcamp.com/">Black Hole Records</a>
                </span>
              </p>
              <ol>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/holly-jolly-christmas">The Sheckies - Holly Jolly Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/this-xmas">45 Adapters - This Xmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/blue-christmas">CH3 - Blue Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/winterland">Revilers - Winterland</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/merry-christmas-better-new-year">Dog Company - Merry Christmas, Better New Year</a></a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/yuletide-girl">Doomed To Obscurity - Yuletide Girl</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/christmas-in-the-city-aint-too-pretty">Jukebox Zeros - Christmas In The City (Ain't Too Pretty)</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/merry-christmas-everybody">Hateful - Merry Christmas Everybody</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/i-ruined-christmas">Mean Streets - I Ruined Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/the-christmas-song">Fed Up! - The Christmas Song</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/santas-a-boozer">Missile Toads - Santa's A Boozer</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/let-it-snow">Knocked Out Cold - Let It Snow</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/white-christmas">Antibodies - White Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/foul-mouthed-elf">Nothing But Enemies - Foul Mouthed Elf</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/santa-thats-my-wife">Pressure 28 - Santa, That's My Wife</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/fired-in-christmas">Secret Army - Fired In Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/oi-to-the-world">Cunt Sparrer - Oi! To The World</a></li>
              </ol>
          </div>
        </div>
        <hr>
        <!-- BlackHole split 7" -->
        <div class="row valign-wrapper">
          <div class="responsive-img col s12 m5 l5 left valign">
            <img class="Album-Art" src="public/Assets/photos/BlackHoleSplit.jpg"/>

            <div class="container-fluid2">
              <a href="https://blackholerecs.bandcamp.com/album/glass-heroes-mean-streets-strongbow-dog-company"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/band-camp-white.svg" style="height: 5vh; color: white;" /></a>
              <a href="http://blackholerecords.bigcartel.com/product/hudson-falcons-dog-company-split-7"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/BlackHole-white.svg" style="height: 5vh; color: white;" /></a>
            </div>


          </div>
          <div class="right col s12 m7 l7">
              <p>
                <span style="font-size: 3em; font-family: Lobster,cursive,Georgia;">
                  Glass Heroes - Mean Streets - Strongbow - Dog Company
                </span>
                <br>
                <span>
                  Released 2012 on <a href="https://blackholerecs.bandcamp.com/">Black Hole Records</a>
                </span>
              </p>
              <ol>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/back-biter">Glass Heroes - Back Biter</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/for-you">Glass Heroes - For You</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/new-moves">Mean Streets - New Moves</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/turn-it-around">Mean Streets - Turn It Around</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/blind">Strongbow - Blind</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/these-nights">Strongbow - These Nights</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/everybodys-your-best-friend">Dog Company - Everybody's Your Best Friend</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/not-dead-yet">Dog Company - Not Dead Yet</a></li>
              </ol>
          </div>
        </div>
        <hr>
        <!-- cashing in on christmas vol 4 -->
        <div class="row valign-wrapper">
          <div class="responsive-img col s12 m5 l5 left valign">
            <img class="Album-Art" src="public/Assets/photos/CashingInOnChristmasVol4.jpg"/>
              <div class="container-fluid2">
                <a href="https://blackholerecs.bandcamp.com/album/cashing-in-on-christmas-vol-4"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/band-camp-white.svg" style="height: 5vh; color: white;" /></a>
                <a href="http://www.cdbaby.com/cd/cashinginonchristmasvolu2"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/BlackHole-white.svg" style="height: 5vh; color: white;" /></a>
              </div>
          </div>
          <div class="right col s12 m7 l7">
              <p>
                <span style="font-size: 3em; font-family: Lobster,cursive,Georgia;">
                  Cashing in on Christmas Vol. IV
                </span>
                <br>
                <span>
                  Released 2012 on <a href="https://blackholerecs.bandcamp.com/">Black Hole Records</a>
                </span>
              </p>
              <ol>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/o-come-emmanuel">The Authority - O Come Emmanuel</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/blessed-christmas">Blessed Muthas - Blessed Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/new-tradition">Broken Heroes - New Tradition</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/johnny-thunders-x-mas">The Dirty Shirleys - Johnny Thunders X-Mas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/snoopys-christmas">Dog Company - Snoopy's Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/all-i-want-for-christmas">Explosive Head - All I Want For Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/santas-on-acid">The Flyswatters - Santa's On Acid</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/the-greatest-cockney-christmas">The Gonads - The Greatest Cockney Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/christmas-time-is-here-oh-shit">Guitar Gangsters - Christmas Time Is Here (Oh Shit)</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/hateful-merry-christmas">Hateful - Hateful Merry Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/christmas-to-me">Jenny Woo - Christmas To Me</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/city-of-nightmares">Mad Pigs - City Of Nightmares</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/ultra-christmas">Missile Toads - Ultra Christmas</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/hey-santa">Plan Of Attack - Hey Santa</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/fairytale-of-mongolia">Splodgenessabounds - Fairytale Of Mongolia</a></li>
                <li class="album-song-title"><a href="https://blackholerecs.bandcamp.com/track/it-could-be-worse">Toughskins - It Could Be Worse</a></li>
              </ol>
          </div>
        </div>
        <hr>
        <!-- War Stories -->
        <div class="row valign-wrapper">
          <div class="responsive-img col s12 m5 l5 left valign">
            <img class="Album-Art" src="public/Assets/photos/WarStories.jpg" alt="" />
            <div class="container-fluid2">
              <a href="https://itunes.apple.com/us/album/war-stories/id833984446"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/apple-logotype-white.svg" style="height: 5vh; color: white;" /></a>
              <a href="https://www.amazon.com/War-Stories-Dog-Company/dp/B00IS180Q4/ref=sr_1_1?s=dmusic&ie=UTF8&qid=1476570275&sr=1-1-mp3-albums-bar-strip-0&keywords=war+stories+dog+company"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/Amazon.svg" style="height: 5vh; color: white;" /></a>
              <a href="https://www.youtube.com/watch?v=3qEdTZvsHLk&list=PLsWo4LACJx9HD-JIDNEa-iBnp9NpO5xeZ"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/youtube-play-button-white.svg" style="height: 5vh; color: white;" /></a>
            </div>
          </div>
          <div class="right col s12 m7 l7">
              <p>
                <span style="font-size: 3em; font-family: Lobster,cursive,Georgia;">
                  War Stories
                </span>
                <br>
                <span>
                  Released 2014 on <a href="https://www.facebook.com/cadreprod/">Cadre Records</a>
                </span>
              </p>
              <ol>
                <li class="album-song-title"><a href="">Intro</a></li>
                <li class="album-song-title"><a href="https://youtu.be/3qEdTZvsHLk?list=PLsWo4LACJx9HD-JIDNEa-iBnp9NpO5xeZ">Elected Enemy	</a></li>
                <li class="album-song-title"><a href="https://youtu.be/A6jrBYkXOoc?list=PLsWo4LACJx9HD-JIDNEa-iBnp9NpO5xeZ">For Our Friends	</a></li>
                <li class="album-song-title"><a href="https://youtu.be/trFbEixMidI?list=PLsWo4LACJx9HD-JIDNEa-iBnp9NpO5xeZ">Printed Word		</a></li>
                <li class="album-song-title"><a href="https://youtu.be/Ekwl7G_Eado?list=PLsWo4LACJx9HD-JIDNEa-iBnp9NpO5xeZ">Battle Fatigue	</a></li>
                <li class="album-song-title"><a href="https://youtu.be/yxsK0g3XjXk?list=PLsWo4LACJx9HD-JIDNEa-iBnp9NpO5xeZ">Combat Zone	</a></li>
                <li class="album-song-title"><a href="https://youtu.be/6-uumIXfawA?list=PLsWo4LACJx9HD-JIDNEa-iBnp9NpO5xeZ">Not Dead Yet		</a></li>
                <li class="album-song-title"><a href="https://youtu.be/uKexLBOWPok?list=PLsWo4LACJx9HD-JIDNEa-iBnp9NpO5xeZ">Last Call	</a></li>
                <li class="album-song-title"><a href="https://youtu.be/hACX0aqJOD4?list=PLsWo4LACJx9HD-JIDNEa-iBnp9NpO5xeZ">Can't Keep Me Down		</a></li>
              </ol>
          </div>
        </div>
        <hr>
        <!-- Hard Ev Dog Co -->
        <div class="row valign-wrapper">
          <div class="responsive-img col s12 m5 l5 left valign">
            <img class="Album-Art" src="public/Assets/photos/HardEvDogCo.jpg" alt="">
            <div class="container-fluid2">
              <a href="http://www.oitheboat.com/products/570666-hard-evidence-dog-company-split-7"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/oi-the-boat-white.svg" style="height: 5vh; color: white;" /></a>
              <a href="https://www.youtube.com/watch?v=0suko6OEByQ"><img src="./public/Assets/fonts/110971-simpleicon-social-media/svg/youtube-play-button-white.svg" style="height: 5vh; color: white;" /></a>
            </div>
          </div>
          <div class="right col s12 m7 l7">
              <p>
                <span style="font-size: 3em; font-family: Lobster,cursive,Georgia;">
                  Hard Evidence - Dog Company
                </span>
                <br>
                <span>
                  Released 2016 on <a href="https://www.facebook.com/cadreprod/">Cadre Records</a>/<a href="http://www.oitheboat.com/">Oi! The Boat Records</a>
                </span>
              </p>
              <ol>
                <li class="album-song-title">Dog Company - Vengeance</li>
                <li class="album-song-title">Dog Company - Guilty of Nothing</li>
                <li class="album-song-title">Hard Evidence - I Wanna Know</li>
                <li class="album-song-title"><a href="https://www.youtube.com/watch?v=qgXo-Qt0L6I&list=PLzWFl7ZpXuGbbVlaNXGJAQvdEYE3mD5Qh&index=4">Hard Evidence - Someday</a></li>
              </ol>
          </div>
        </div>
        <hr>
      </div>
    </div>
</div>

<script>
  var x;
  $(window).on('scroll', function() {
      var x = $(window).scrollTop();
      function retY() {
        var y = (($(window).scrollTop() / $(window).height()));
        if (y < .75){
          return y
        }
        else {
          return .75
        }
      }
      console.log(100 + parseInt(x / 3))
      $('.media-page-container').css('background-size', 125 + parseInt(x / 3) + 'vh');
      $('.media-page-content-container').css('background-color', "rgba(0,0,0, " + retY() + ")");

  });
</script>
