<div class="shows-page-container">
    <div class="shows-page-content-container">
      <div class="container">
        <nav-bar></nav-bar>
        <div class="center">
          <p class="Past-events-header">
            <h5>Upcoming Events</h5>
          </p>
        </div>
        <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/dog%20company" class="bit-widget-initializer" data-artist="dog company" data-prefix="fbjs"></a>
        <div class="right">
          <iframe  src="https://www.bandsintown.com/artist/Dog%20Company/track_button?size=small&text_color=%2331465C&background_color=%23FFFFFF&hover_color=%23ededed" height="25" width="165" scrolling="no" frameborder="0" style="border:none; overflow:hidden"; allowtransparency="true" class="center"></iframe><br>
        </div>
        <div class="center">
          <p class="Past-events-header">
            <h5>Past Events</h5>
          </p>
        </div>
        <table class="show-table highlight">
          <thead>
            <tr>
                <th style="width: 1.5vw"></th>
                <th style="width: 4.4vw">Date</th>
                <th style="width: 25.8vw">Venue</th>
                <th data-field="Location">Location</th>
                <th style="width: 4vw"></th>
                <th style="width: 5.3vw"></th>
                <th style="width: 5.3vw"></th>

            </tr>
          </thead>

          <tbody ng-repeat="show in shows">
              <tr ng-click="goToThere(show.facebook_rsvp_url)">
              <td style="width: 1.5vw"></td>
              <td style="width: 4.4vw" class="date-data">{{show.datetime | date:'MMM'}}<br>{{show.datetime | date:'d'}}</br></td>
              <td style="width: 25.8vw" class="venue-data">{{show.venue.name}}</td>
              <td class="Location-data">{{show.venue.city}}, {{show.venue.region}}</td>
              <td style="width: 4vw"></td>
              <td style="width: 5.3vw"><a href="{{show.facebook_rsvp_url}}">More<br>Info</a></td>
              <td style="width: 5.3vw">{{show.datetime | date:'yyyy'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<script>

  var x;
  $(window).on('scroll', function() {
      var x = $(window).scrollTop();
      function retY() {
        var y = (($(window).scrollTop() / $(window).height()) * 1.25);
        if (y < .85){
          return y
        }
        else {
          return .85
        }
      }
      $('.shows-page-container').css('background-size', 125 + parseInt(x / 3) + 'vh');
      $('.shows-page-content-container').css('background-color', "rgba(0,0,0, " + retY() + ")");
  });
</script>
